*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe4c4;
}
.weather {
    margin-top: 100px;
}
.weather__search {
    border: none;
    border-bottom: 1px solid #000;
    background-color: inherit;
    width: 200px;
    height: 30px;
}
.weather__search::placeholder{
    font-size: 20px;
    color: #f1a344;
}
.weather__search:focus-visible{
    padding: 10px 10px;
    background-color: #ebd6bd;
    outline: none;
    font-size: 16px;
    font-family: sans-serif;
}
.weather__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.weather__extra-options {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.weather__extra-options_time{
    margin-top: 20px;
}
.weather__extra-options_description {
    margin-top: 20px;
}
.weather__extra-options_wind {
    margin-top: 20px;
}
.weather__extra-options_temp{
    margin-top: 20px;
    font-size: 50px;
    color: rgb(44, 4, 138);
}

